@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 400;
  src: local('Marvel'), local('Marvel-Regular'), url(http://fonts.gstatic.com/s/marvel/v6/789UQI4gZlFVSw9fHCriRQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/marvel/v6/L2PPfTze83vDMefumW3xvw.woff) format('woff');
}
@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 700;
  src: local('Marvel Bold'), local('Marvel-Bold'), url(http://fonts.gstatic.com/s/marvel/v6/fdSK0BiCsJzg1JgCoZQLEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/marvel/v6/fdSK0BiCsJzg1JgCoZQLET8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}